name: release-wheel
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build-wheel:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - uses: actions/setup-python@v4
        with:
          python-version: '3.8'

      - run: npm ci
      - run: npm run build

      - run: python -m pip install --upgrade pip build
      - run: python -m build --wheel

      - uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: dist/*.whl
